@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import 'component-styles';

body {
  background-color: $bgColor !important;
  display: flex;
  justify-content: center;
}

#root {
  text-align: center;
}
