@import '../globals/';

#new-location-form {
  display: flex;
  width: fit-content;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;

  background-color: $formBGcolor;

  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
}